.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(45deg, #8b2222, #5c2cec, transparent);
}

.input-section {
  margin-bottom: 1rem;
}
.input {
  padding: 10px 15px;
  font-family: inherit;
  border: 1px solid pink;
  border-radius: 20px;
  font-size: 15px;
  max-width: 350px;
  outline: none;
}

.btn {
  padding: 10px 20px;
  margin: 0.5rem;
  color: var(--primary-color);
  border: 1px solid blue;
  background: transparent;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  box-shadow: 5px 0px 0px 2px;
  color: #060808;
  font-size: 18px;
}
.btn:hover {
  background: #000;
  color: #fff;
  transition: 2sec;
  transform: skewX(10deg);
}

.nav {
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
}

.menu-item {
  width: 150px;
  border: 1px solid blue;
  border-radius: 20px;
  background: var(--primary-color);
  margin: 0.9rem;
  padding-bottom: 5px;
  box-shadow: 0px 5px 3px 4px;
}

.menu-heading {
  color: #fff;
  margin: 0;
  padding: 1rem;
  font-size: 14px;
}

.menu-small {
  color: #fff;
  margin: 0;
}
